body{
  background-color: beige;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes wrapper_background {
    from {background-color: aqua;}
    to {background-color: chartreuse;}
}

/* The animation code need to add support for chrome*/
@keyframes wrapper_background {
    from {background-color: aqua;}
    to {background-color: chartreuse;}
}

.wrapper{
  width: 900px;
  height: 600px;
  background-color: aqua;
  -webkit-animation-name: wrapper_background; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 10s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  animation-name: wrapper_background;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

#glcanvas{
  width: 480px;
  height: 480px;
  border: 1px solid #d3d3d3;
}
